In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df=pd.read_csv("/content/anime.csv")

In [ ]:
df=pd.read_csv("/content/rating.csv")

In [ ]:
anime = pd.read_csv("anime.csv")
rating = pd.read_csv("rating.csv")

In [ ]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [ ]:
anime.shape

(12294, 7)

In [ ]:
anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [ ]:
anime.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [ ]:
anime.isna().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [ ]:
print("After Dropping, Null Values of Anime Dataset :")
anime.dropna(axis = 0, inplace = True)
anime.isna().sum()

After Dropping, Null Values of Anime Dataset :

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [ ]:
rating.head()

   user_id  anime_id  rating
0        1        20    -1.0
1        1        24    -1.0
2        1        79    -1.0
3        1       226    -1.0
4        1       241    -1.0

In [ ]:
rating.shape

(630505, 3)

In [ ]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630505 entries, 0 to 630504
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user_id   630505 non-null  int64
 1   anime_id  630505 non-null  int64
 2   rating    630504 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 14.4 MB

In [ ]:
rating.describe()

             user_id       anime_id         rating
count  630505.000000  630505.000000  630504.000000
mean     3189.036826    9758.306810       6.123593
std      1802.254768    9136.727926       3.740943
min         1.000000       1.000000      -1.000000
25%      1570.000000    1563.000000       6.000000
50%      3229.000000    7148.000000       7.000000
75%      4850.000000   15751.000000       9.000000
max      6067.000000   34325.000000      10.000000

In [ ]:
rating.isna().sum()

user_id     0
anime_id    0
rating      1
dtype: int64

In [ ]:
rating.drop_duplicates(keep='first',inplace=True)
rating.shape

(630505, 3)

<h1>MERGING ANIME AND RATING DATASETS<h1>

In [ ]:
combined_data = pd.merge(anime,rating,on="anime_id",suffixes= [None, "_user"])
combined_data = combined_data.rename(columns={"rating_user": "user_rating"})
combined_data.head()

,anime_id,name,genre,type,episodes,rating,members,user_id,user_rating
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,99,5.0
1,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,152,10.0
2,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,244,10.0
3,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,271,10.0
4,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630,278,-1.0

In [ ]:
combined_data.shape

(630493, 9)

<h1>TOP ANIME

In [ ]:
top_anime = combined_data.copy()
top_anime.drop_duplicates(subset ="name", keep = "first", inplace = True)
top_anime_temp1 = combined_data.sort_values(["members"],ascending=False)
top_anime_temp1.head()

,anime_id,name,genre,type,episodes,rating,members,user_id,user_rating
28813,1535,Death Note,"Mystery, Police, Psychological, Supernatural, ...",TV,37,8.71,1013917,471,-1.0
29663,1535,Death Note,"Mystery, Police, Psychological, Supernatural, ...",TV,37,8.71,1013917,2087,9.0
29687,1535,Death Note,"Mystery, Police, Psychological, Supernatural, ...",TV,37,8.71,1013917,2138,10.0
29686,1535,Death Note,"Mystery, Police, Psychological, Supernatural, ...",TV,37,8.71,1013917,2137,9.0
29685,1535,Death Note,"Mystery, Police, Psychological, Supernatural, ...",TV,37,8.71,1013917,2135,8.0

<h1>ANIME CATEGORIES

In [ ]:
top_anime_temp1["type"].value_counts()

In [ ]:
data = combined_data.copy()
data["user_rating"].replace(to_replace = -1 , value = np.nan ,inplace=True)
data = data.dropna(axis = 0)
print("Null values after final pre-processing :")
data.isna().sum().to_frame()

Null values after final pre-processing :

             0
anime_id     0
name         0
genre        0
type         0
episodes     0
rating       0
members      0
user_id      0
user_rating  0

Selecting users who have rated more than 50 animes

In [ ]:
selected_users = data["user_id"].value_counts()
data = data[data["user_id"].isin(selected_users[selected_users >= 50].index)]

Creating a pivot table consisting of rows as title and columns as user id, which will further be used to create sparse matrix which can be very helpful in finding the cosine similarity

In [ ]:
data_pivot_temp = data.pivot_table(index="name",columns="user_id",values="user_rating").fillna(0)
data_pivot_temp.head()

user_id,3,5,7,11,14,17,21,23,24,27,...,73495,73499,73500,73501,73502,73503,73504,73507,73510,73515
name,,,,,,,,,,,,,,,,,,,,,
&quot;0&quot;,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
&quot;Bungaku Shoujo&quot; Kyou no Oyatsu: Hatsukoi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
&quot;Bungaku Shoujo&quot; Memoire,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0
&quot;Bungaku Shoujo&quot; Movie,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
&quot;Eiji&quot;,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
import re
def text_cleaning(text):
    text = re.sub(r'&quot;', '', text)
    text = re.sub(r'.hack//', '', text)
    text = re.sub(r'&#039;', '', text)
    text = re.sub(r'A&#039;s', '', text)
    text = re.sub(r'I&#039;', 'I\'', text)
    text = re.sub(r'&amp;', 'and', text)
    
    return text

data["name"] = data["name"].apply(text_cleaning)

In [ ]:
data_pivot = data.pivot_table(index="name",columns="user_id",values="user_rating").fillna(0)
print("After Cleaning the animes names, let's see how it looks like.")
data_pivot.head()

After Cleaning the animes names, let's see how it looks like.

user_id,3,5,7,11,14,17,21,23,24,27,...,73495,73499,73500,73501,73502,73503,73504,73507,73510,73515
name,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
009 Re:Cyborg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
009-1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
009-1: RandB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfv = TfidfVectorizer(min_df=3, max_features=None, strip_accents="unicode", analyzer="word", token_pattern=r"\w{1,}", ngram_range=(1, 3), stop_words = "english")

rec_data = combined_data.copy()
rec_data.drop_duplicates(subset ="name", keep = "first", inplace = True)
rec_data.reset_index(drop = True, inplace = True)
genres = rec_data["genre"].str.split(", | , | ,").astype(str)
tfv_matrix = tfv.fit_transform(genres)

In [ ]:
from sklearn.metrics.pairwise import sigmoid_kernel

sig = sigmoid_kernel(tfv_matrix, tfv_matrix)      # Computing sigmoid kernel

rec_indices = pd.Series(rec_data.index, index = rec_data["name"]).drop_duplicates()


# Recommendation Function
def give_recommendation(title, sig = sig):
    idx = rec_indices[title] # Getting index corresponding to original_title

    sig_score = list(enumerate(sig[idx]))  # Getting pairwsie similarity scores 
    sig_score = sorted(sig_score, key=lambda x: x[1], reverse=True)
    sig_score = sig_score[1:11]
    anime_indices = [i[0] for i in sig_score]
     
    # Top 10 most similar movies
    rec_dic = {"No" : range(1,11), 
               "Anime Name" : anime["name"].iloc[anime_indices].values,
               "Rating" : anime["rating"].iloc[anime_indices].values}
    dataframe = pd.DataFrame(data = rec_dic)
    dataframe.set_index("No", inplace = True)

    print("Recommendations for {title} viewers :\n")
    
    return dataframe

In [ ]:
give_recommendation("Naruto")

Recommendations for Naruto viewers :

                                           Anime Name  Rating
No
1                             To LOVE-Ru Darkness OVA    7.82
2                      Hanbun no Tsuki ga Noboru Sora    7.69
3                                            Mai-HiME    7.59
4   Doraemon Movie 28: Nobita to Midori no Kyojin Den    7.54
5                             Rurouni Kenshin Special    7.51
6                                 Pikmin Short Movies    7.27
7                              Deadman Wonderland OVA    7.12
8   Anata mo Robot ni Nareru feat. Kamome Jidou Ga...    5.12
9                                       Shinpi no Hou    5.37
10         Toaru Majutsu no Index: Endymion no Kiseki    7.71

In [ ]:
give_recommendation("Bungou Stray Dogs")

Recommendations for Bungou Stray Dogs viewers :

                                           Anime Name  Rating
No
1                               Initial D Fifth Stage    8.14
2                                            Hakuouki    7.57
3                                     One Piece Recap    7.34
4                          Princess Princess Specials    6.75
5                         Kimikiss Pure Rouge Special    7.07
6                                  Hellsing: The Dawn    7.37
7                                          Usagi Drop    8.56
8   Yahari Ore no Seishun Love Comedy wa Machigatt...    8.31
9                                         Space☆Dandy    7.86
10  Crayon Shin-chan Movie 09: Arashi wo Yobu Mour...    7.79

In [ ]:
give_recommendation("One Punch Man")

Recommendations for One Punch Man viewers :

                                           Anime Name  Rating
No
1         Sora no Otoshimono: Tokeijikake no Angeloid    7.87
2   One Piece: Episode of Luffy - Hand Island no B...    7.86
3                    Love Live! Kouhaku Special Anime    6.59
4                                             Stitch!    6.12
5                                  Kotatsu Neko (ONA)    5.94
6   Dr. Slump Movie 07: Arale-chan N-cha! Penguin ...    6.56
7      Detective Conan Movie 01: The Timed Skyscraper    7.98
8   Detective Conan: Conan vs. Kid - Jet Black Sniper    7.66
9                                     Erementar Gerad    7.44
10                     Fate/kaleid liner Prisma☆Illya    7.28

In [ ]:
anime_name = input("Enter your favourite movie name : ")

Enter your favourite movie name : naruto

In [ ]:
list_of_all_titles = combined_data['name'].tolist()

In [ ]:
import difflib
find_close_match = difflib.get_close_matches(anime_name, list_of_all_titles)

In [ ]:
print(find_close_match)

['Naruto', 'Naruto', 'Naruto']

In [ ]:
close_match = find_close_match[0]
print(close_match)

Naruto

In [ ]:
give_recommendation(close_match)

Recommendations for Naruto viewers :

                                           Anime Name  Rating
No
1                             To LOVE-Ru Darkness OVA    7.82
2                      Hanbun no Tsuki ga Noboru Sora    7.69
3                                            Mai-HiME    7.59
4   Doraemon Movie 28: Nobita to Midori no Kyojin Den    7.54
5                             Rurouni Kenshin Special    7.51
6                                 Pikmin Short Movies    7.27
7                              Deadman Wonderland OVA    7.12
8   Anata mo Robot ni Nareru feat. Kamome Jidou Ga...    5.12
9                                       Shinpi no Hou    5.37
10         Toaru Majutsu no Index: Endymion no Kiseki    7.71

In [ ]:
def anime_recommendations():
  anime_name = input("Enter your favourite anime name : ")

  list_of_all_titles = combined_data['name'].tolist()

  find_close_match = difflib.get_close_matches(anime_name, list_of_all_titles)

  close_match = find_close_match[0]

  give_recommendation(close_match)